{% extends 'layout.html' %} {% block content %}
<h1 align="center">แบบฟอร์มสร้างข้อมูล</h1>
<form>
    <div class="form-group">
        <label for="title">ชื่อบทความ</label>
        <input type="text" class="form-control" id="title" name="name">
    </div>
    <div class="form-group">
        <label for="des">รายละเอียด</label>
        <textarea class="form-control" id="des" rows="3" name="des"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">บันทึกบทความ</button>
</form>
{%endblock%}