 {% extends 'layout.html' %} {% block content %}
<br>
<h1>แสดงข้อมูบบทความ</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">รหัสบทความ</th>
            <th scope="col">ชือบทความ</th>
            <th scope="col">รายละเอียด</th>
        </tr>
    </thead>
    <tbody>
        {% for data in datas %}
        <tr>
            <th scope="row">{{ data.id }}</th>
            <td>{{ data.name }}</td>
            <td>{{ data.des }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock%}